/*div.content,div.task, div.team {
	display: none;
}*/
ul.yourstats,ul.teamstats,ul.credits {
    background-color: #D9DB56;
    float: right;
    font-family: arial;
    font-size: 13px;
    padding:10px;
    color:#6E6F37;
    margin:1px 10px 0 0;
    width:260px;
}
ul.teamstats,ul.credits {
	clear: both;
}
ul.yourstats li.header,ul.teamstats li.header,ul.credits li.header {
	text-align: center;
	font-size: 16px;
	padding-bottom: 10px;
}

ul.yourstats li span:last-child, ul.teamstats li span:last-child, ul.credits li span:last-child {
	padding-left: 10px;
	display: inline-block;
	width: 100px;
}

ul.yourstats li span:first-child, ul.teamstats li span:first-child, ul.credits li span:first-child {
	display: inline-block;
    width: 138px;
    border-right:1px solid #fff;
}

ul.yourstats li.header span,ul.teamstats li.header span,ul.credits li.header span {
	border:none;
	font-weight: bold;
}
table.interviewTable {
	font-size: 13px;
    margin-left: 10px;
    margin-top: 10px;
    width: 75%;
    color:#6E6F37;
    font-family: verdana;
}
table.interviewTable th {
	background-color: #D9DB56;
}
table.interviewTable tbody {
	background-color: #6E6F37;
	color: #fff;
}
table.interviewTable td {
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #A4A53B;
	height: 30px;
	padding: 0 5px 0 5px;
}
table.interviewTable th {
	height: 30px;
	padding-left: 5px;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}