@(teams: List[Team], teamForm: Form[Team], categories: List[Category], categoryForm: Form[Category], tasks: List[Task], taskForm: Form[Task])

@import helper._

<!DOCTYPE html>

<html>
<head>
	<title>Pass The Buck</title>
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/passthebuck.jpg")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reset.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/app-classes.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
	<script type='text/javascript' src='@routes.Assets.at("javascripts/jquery-1.8.2.min.js")'></script>
	<script type='text/javascript' src='@routes.Assets.at("javascripts/formhandler.js")'></script>
	<script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>
</head>
<body>
	<header>
		<div>
			<a id="logo" href="#">Pass the Buck</a>
			<nav class="main">
				
			</nav>
		</div>
	</header>
	<div class="content">
		<div id="container">
	
		<div id="main" class="clearfix">
			<form id="filtering">
				<div id="upper">
					<ul>
						<li id="categories">
							ALL INTERVIEWS
						</li>
						<li id="search">
							<input type="text" value="" placeholder="search..." name="search">
						</li>
					</ul>
				</div>
				<div id="lower">
					<ul id="types" class="clearfix">
						<li id="team">Team</li>
						<li id="category">Category</li>
						<li id="task">Task</li>
					</ul>
				</div>
			</form>
			<div id="listings-wrapper">
				<ul id="listings">
					<li>
						<a href="#">
							<div class="user-role">
								<img src="@routes.Assets.at("images/user.png")" width="48px">
								<div class="role">
									<h3>Kuppusamy</h3>
									<span class="date">02-Nov-2012 / 12.30PM</span>
								</div>
								<span class="assigned">Assigned to:</span><span>Rajiv Nair</span>
								<span class="category">For a BE interview</span>
								<span class="status">Status: <span>Reject</span></span>
								<span class="comment">The candidate is poor in basics of Java</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="user-role">
								<img src="@routes.Assets.at("images/user_female.png")" width="48px">
								<div class="role">
									<h3>Mariama</h3>
									<span class="date">02-Nov-2012 / 12.30PM</span>
								</div>
								<span class="assigned">Assigned to:</span><span>Vijay Nair</span>
								<span class="category">For a UI interview</span>
								<span class="status">Status: <span>Reject</span></span>
								<span class="comment">The candidate is poor in basics of Java</span>
							</div>
						</a>
					</li>
					@for(tsk <- tasks) {
						<li>
						<a href="#">
							<div class="user-role">
								<img src="@routes.Assets.at("images/user_female.png")" width="48px">
								<div class="role">
									<h3>@tsk.name</h3>
									<!-- on mouseover: @tsk.description -->
									<span class="date">@tsk.getStartTime</span>
								</div>
								<span class="assigned">Assigned to:</span><span>--TBD--</span>
								<span class="category">For a @tsk.category.name</span>
								<span class="status">Status: <span>@tsk.status</span></span>
								<span class="comment">--TBD--</span>
							</div>
						</a>
					</li>
					}
				</ul>
			</div>
		</div>
	
	<aside>
		<section>
			<ul class="yourstats">
				<li class="header"><span>Your Stats</span></li>
				<li>
					<!-- Title --> <span>My Tasks this quarter</span> <span>25</span>
				</li>
				<li><span>My Credits</span> <span>180</span></li>
			</ul>
		</section>

		<section>
			<ul class="teamstats">
				<li class="header"><span>Team Stats</span></li>
				<li>
					<!-- Title --> <span>Total tasks this quarter</span> <span>270</span>
				</li>
				<li><span>Total time spent on tasks this quarter</span> <span>200
					hrs and 17 mins</span>
				</li>
			</ul>
		</section>	

		<section>
			<ul class="credits">
				<li class="header"><span>Highest and Lowest Credits</span></li>
				<li>
					<!-- Title --> <span>Rockstars</span> <span>Credits</span>
				</li>
				<li><span>Poriki</span> <span>250</span></li>
				<li><span>Pokkiri</span> <span>220</span></li>
				<li>
					<!-- Title --> <span>Slackers</span> <span>Credits</span>
				</li>
				<li><span>Otha</span> <span>100</span></li>
				<li><span>Ommala</span> <span>120</span></li>
			</ul>
		</section>	
	</aside>
	</div>
		</div>
		<!-- TODO: Need to add filters at the top of the page to change team/category -->
	
	<!-- Form 1: Create a category, e.g., '1st Round' or '2nd Round' -->
	<div class="popup-hold category">
		<div class="popup-text">
			<a class="popup-close" title="Close" href="#">x</a>
			<h3>Create a Category:</h3>
		@form(action= routes.Categories.newCategory(), 'id -> "formCategory", 'name -> "category") {
			@inputText(categoryForm("name"), 'id -> "categoryName", 'size -> 30, 'class -> "input-css", '_label -> "Name:", '_class -> "overall-css", '_help -> "")
			@inputText(categoryForm("durationInMinutes"), 'id -> "durationInMinutes", 'maxlength -> 5, 'class -> "input-css", '_label -> "Duration(in mins):", '_class -> "overall-css", '_help -> "")
			@inputText(categoryForm("credits"), 'id -> "credits", 'size -> 5, 'class -> "input-css", '_label -> "Credits:", '_class -> "overall-css", '_help -> "")
			<input id="categorySubmit" type="button" value="Send" class="contact-btn submit-btn"/>
			<input type="button" value="Cancel" class="contact-btn cancel-btn"/>
		}
		</div>
	</div>

	<!-- Form 2: Create a team, e.g., 'Cobalt B/E' or 'Cobalt UI' -->
	<div class="popup-hold team">
		<div class="popup-text">
			<a class="popup-close" title="Close" href="#">x</a>
			<h3>Create a Team:</h3>
			@form(action= routes.Teams.newTeam(), 'id -> "formTeam",'name -> "team") {
				@inputText(teamForm("name"), 'id -> "teamName", 'size -> 30, 'class -> "input-css", '_label -> "Name:", '_class -> "overall-css", '_help -> "")
				@inputText(teamForm("description"), 'id -> "description", 'size -> 30, 'class -> "input-css", '_label -> "Description:", '_class -> "overall-css", '_help -> "")
		
				<input id="teamSubmit" type="button" value="Send" class="contact-btn submit-btn"/>
				<input type="button" value="Cancel" class="contact-btn cancel-btn"/>
			}
		</div>

	</div>

	<!-- Form : Edit a task, e.g., '1st round interview of GyanaSagar' -->
	<div class="popup-hold edit-task">
		<div class="popup-text">
			<a class="popup-close" title="Close" href="#">x</a>
			<h3>Edit a Task:</h3>
		
				<input id="teamSubmit" type="submit" value="Send" class="contact-btn submit-btn"/>
				<input type="button" value="Cancel" class="contact-btn cancel-btn"/>
			
		</div>

	</div>


	<!-- Form 3: Create a task, e.g., '1st round interview of GyanaSagar' -->
	<div class="popup-hold task">
		<div class="popup-text">
			<a class="popup-close" title="Close" href="#">x</a>
			<h3>Create a Task:</h3>
	@form(action= routes.Tasks.newTask(), 'id -> "formTask", 'name -> "task") {
		@inputText(taskForm("name"), 'id -> "taskName", 'size -> 30, 'class -> "input-css", '_label -> "Task Name:", '_class -> "overall-css", '_help -> "")
		@textarea(taskForm("description"), 'id -> "description", 'size -> 100, 'class -> "textarea-css", '_label -> "Description:", '_class -> "overall-css", '_help -> "")
		@inputDate(taskForm("startDate"), 'id -> "startDate", 'size -> 10, 'class -> "input-css", '_label -> "Starts On:", '_class -> "overall-css", '_help -> "")
		
		<!-- These two need to be on the same line -->
		@inputText(taskForm("startHour"), 'id -> "startHour", 'maxlength -> 2, 'class -> "input-css", '_label -> "At Hour:", '_class -> "overall-css", '_help -> "")
		@inputText(taskForm("startMinute"), 'id -> "startMin", 'maxlength -> 2, 'class -> "input-css", '_label -> "Min:", '_class -> "overall-css", '_help -> "")
		@select(
        taskForm("category"), 
	        options = options(Category.options),
	        '_label -> "Category:",
	        '_error -> teamForm("category").error.map(_.withMessage("Please select a category"))
		)

		<input id="taskSubmit" type="button" value="Send" class="contact-btn submit-btn"/>
		<input type="button" value="Cancel" class="contact-btn cancel-btn"/>
	}
<!--
		<form name="task" action="/createTask.do" method="post">
			<h2>Create a Task</h2>
			Name: <input type="text" id="taskName" /> <br />
			Description: <input type="text" id="taskDescription" /> <br />
			Start's On: <input type="text" disabled="true" id="taskStartDate" value="choose date" /> At: <input type="text" disabled="true" id="taskStartTime" value="choose time" /> <br />
			Category: <input type="text" id="taskCategory" disabled="true" value="dropdown of categories" /> <br />
			Assign To: <input type="text" id="taskAssignedTo" disabled="true" value="dropdown of users" /> <br />
			<input type="submit" value="Submit" />
		</form>
-->	
		</div>
	</div>
	
	<!-- List of tasks for current date and current team -->

			<h2>@teams.size() team(s) found!</h2>
			<ul>
				@for(t <- teams) {
					<li>@t.name </li>
				}
			</ul>

			<h2>@categories.size() category(-ies) found!</h2>
			<ul>
				@for(c <- categories) {
					<li>@c.name: @c.durationInMinutes | @c.credits</li>
				}
			</ul>

			<h2>@tasks.size() task(s) found!</h2>
			<ul>
				@for(tsk <- tasks) {
					<li>@tsk.name - @tsk.description starts on @tsk.startDate @tsk.startHour:@tsk.startMinute | @tsk.category.name | WTF!!?</li>
				}
			</ul>
	<div id="overlay"></div>
</body>
</html>
