@(provider: com.feth.play.module.pa.providers.AuthProvider, localUser: models.User=null)
		
		
@import com.feth.play.module.pa.views.html._

@main("Pass The Buck Login") {

	@currentAuth() { auth =>
		@if(auth != null) {
			@if(localUser != null) {
				Welcome @localUser.name - @localUser.email
			}
			Logged in with provider '@auth.getProvider()' and the user ID '@auth.getId()'<br/>
			Your session expires
			@if(auth.expires() == -1){
				never
			} else {
				at @auth.expires() (UNIX timestamp)
			}
			<br/><br/>
			<a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout">Logout</a>
		} else {
		<div class="content full-height">			
			<div class="modal">
			  	<div class="modal-header">
			    	<h3>Login / Sign up : </h3>
			  	</div>
			  	<div class="modal-body">
			    	<a href="@provider.getUrl()" alt="@provider.getKey()" title="@provider.getKey()" class="pull-right btn-signin"><img src="@routes.Assets.at("images/google.png")" /></a>
			  	</div>
			  	<div class="modal-footer">
			    &copy; 2012 Pass The Buck. View details <a href="https://github.com/rajivrnair/PassTheBuck/blob/master/README">here</a>.
				</div>
			</div>
		</div>	
		}
		<br/><br/>
	}
}